.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(0, 183, 255);
  }

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  #my-text-box {
    font-weight: bold;
    font-size: 18px;
    height: 15em; 
    width: 600px; 
    border: 4px solid rgb(0, 183, 255);
}