{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>

<body>
  {% block content %}

  {{messages.count}}
  <div>
    <h1>Home Page</h1>
  </div>

  <div>
    Have an account ?
  </div>
  <a href="/login/">
  <button type="button" class="btn btn-info">Login</button>
  </a>
  <div>
    Dont have an account ?
  </div>
  <a href="/register/">

    <button type="button" class="btn btn-info">Register</button>
  </a>
  {% endblock %}
</body>

</html>